@import "tailwindcss";
@import "react-international-phone/style.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d3c3d4e #f3e8ff;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f3e8ff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3d3c3d4e;
  border-radius: 10px;
  border: 2px solid #f3e8ff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3d3c3d4e;
}
